/* 
====================================
Fonts 
====================================
*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0px;
  list-style-type: none;
  text-shadow: none;
}
body {
  font-family: "Montserrat";
  background-color: #f5f5f5;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  display: none;
}
.just-flex {
  display: flex;
  align-items: center;
}

/* 
====================================
Material Icons
====================================
*/

/* Rules for sizing the icon. */
.material-icons.md-9 {
  font-size: 9px;
}
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: #ffffff;
}
.material-icons.md-grey {
  color: #858585;
}
.material-icons.md-light-grey {
  color: #707070;
}

/* 
====================================
Elements
====================================
*/

.btn {
  /* width: 170px;
  height: 45px; */
  margin: 0;
  padding: 10px;
  border-radius: 25px;
  border: none;
  background-color: #303f9f;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}
.btn:active {
  opacity: 0.5;
}

/* 
====================================
Header 
====================================
*/

.header-section {
  display: flex;
  background-color: #191919;
  height: 40px;
  align-items: center;
}
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1170px;
  /* max-width: 1170px; */
  margin: 0 auto;
}
.social-icons-container {
  height: fit-content;
  margin: auto 0;
}
.header-social-icon {
  color: #707070;
  font-size: 16px;
  padding-right: 4px;
  margin-right: 6px;
}
.header-right {
  display: flex;
  margin: auto 0;
  gap: 0px;
}
.header-text {
  font-size: 12px;
  font-weight: 400;
  color: #858585;
  margin-left: 5px;
  margin-bottom: 1px;
  word-spacing: 2px;
}
.language {
  display: flex;
  align-items: center;
}
.language-key-down {
  transform: scale(2);
  margin-bottom: 2px;
  margin-right: 1px;
  margin-left: 5px;
}
.language-icon {
  margin-bottom: 2px;
  margin-left: 13px;
  margin-right: 1px;
}
.sign-in-container {
  display: flex;
  align-items: center;
  padding-right: 14px;
  height: 20px;
  border-right: 1px solid #707070;
}
.account-circle-icon {
  margin-bottom: 1px;
}

/* 
====================================
Home Section
====================================
*/

.home-section {
  height: 800px;
  background-image: linear-gradient(
      rgba(30, 30, 30, 0.7),
      rgba(30, 30, 30, 0.7)
    ),
    url("./images/home_bg.png");
  background-size: cover;
  background-position: center;
  z-index: -1;
}
.home-container {
  width: 1170px;
  margin: 0 auto;
}

/************** Navbar **************/

.nav-menu {
  height: 68px;
  display: flex;
  align-items: center;
}
.logo-container {
  margin-bottom: 3px;
  margin-left: 0;
}
.logo-text {
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 2px;
  font-size: 22px;
}
.navs {
  display: flex;
  height: inherit;
  margin-left: 111px;
}
.nav {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0;
  margin-right: 10px;
}
.active-nav {
  position: absolute;
  background-color: #ff4081;
  width: 80px;
  height: 4px;
  top: 65px;
  left: 1px
}
.nav-item {
  height: inherit;
  display: flex;
  align-items: center;
  padding-left: 14px;
  gap: 6px;
}
.nav-text {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
}
.nav-tools {
  display: flex;
  align-items: center;
  margin-left: 50px;
}
.nav-icon {
  color: #ffffff;
}
.nav-right-icon {
  margin-top: 3px;
}
.bar2 {
  background-color: #6a6461;
  height: 30px;
  width: 1px;
  margin: 0 10px;
  /*  3 buttons */
}

/************** Home Body **************/

.home-body {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.inspiration-text {
  font-size: 18px;
  margin-top: 215px;
  margin-left: 3px;
  letter-spacing: 2px;
  color: #bdbdbe;
}
.big-title-container {
  display: flex;
  justify-content: center;
  max-width: 806px;
  /* percentage */
  margin-bottom: 26px;
}
.big-title-text {
  margin-top: 14px;
  font-size: 42px;
  color: #ffffff;
  font-weight: 900;
  letter-spacing: 2px;
  word-spacing: -4px;
  line-height: 1.25;
}
.author-container {
  width: 235px;
}
.author-photo {
  width: "50px";
  height: "50px";
  margin-top: 81px;
  margin-bottom: 11px;
}
.author-feedback {
  margin-top: 35px;
  display: flex;
  align-items: center;
  color: #bdbdbd;
  font-size: 11px;
  gap: 30px;
}

/* 
====================================
SORT BLOG
====================================
*/

.sort-blog {
  background-color: #ffffff;
  height: 61px;
  border: none;
  border-bottom: 1px solid #dddddd;
  display: flex;
  justify-content: center;
}
.sort-blog-container {
  width: 1170px;
  /* max-width: 1170px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto 0;
}
.sort-blog-text {
  font-size: 12px;
  font-weight: 700;
  margin-right: 4px;
}
.blog-list-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.blog-list {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30px;
  padding: 0 26px;
  font-size: 8px;
  border-radius: 25px;
  margin-left: 15px;
  background-color: #f5f5f5;
  cursor: pointer;
  color: #202020;
}
.blog-list-active {
  background-color: transparent;
  border: 1px solid #3f51b5;
  color: #3f51b5;
}
.blog-list-text {
  font-size: 12px;
  text-transform: uppercase;
  text-shadow: none;
}

/* 
====================================
BODY
====================================
*/

.body {
  height: 2337px;
  border: none;
  display: flex;
  justify-content: end;
  margin-top: 30px;
  margin-bottom: 2px;
}
.body-container {
  width: 1545px;
  /* max-width: 1170px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: auto;
  height: inherit;
  align-items: center;
}
.body-content {
  width: 820px;
  height: inherit;
  border-radius: 5px;
}
.body-side-panel {
  width: 685px;
  height: inherit;
  border-radius: 5px;
  background-color: #ffffff;
}
.input-search-1 {
  background-color: #f5f5f5;
  border: none;
  height: 43px;
  width: 270px;
  border-radius: 25px;
  margin-left: 40px;
  margin-top: 24px;
  padding-left: 20px;
  color: #989898;
  outline: none;
}
.input-search-1::placeholder {
  color: #989898;
  font-size: 14px;
  letter-spacing: 0.5px;
}
.search-icon {
  background-color: #ff4081;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -39px;
  left: 283px;
}

/* 
====================================
FOOTER
====================================
*/

.footer {
  background-color: #303030;
  height: 80px;
  display: flex;
  justify-content: center;
}
.footer-container {
  width: 1170px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: auto 0;
}
.footer-list {
  display: flex;
}
.footer-list-item {
  text-transform: uppercase;
  font-size: 12px;
  color: #ffffff;
  margin-right: 42px;
  font-weight: 700;
  cursor: pointer;
}
.input-search-2 {
  background-color: transparent;
  border: 1px solid #7f7f7f;
  height: 35px;
  width: 220px;
  border-radius: 25px;
  margin-left: 47px;
  padding-left: 20px;
  color: #7f7f7f;
}
.input-search-2::placeholder {
  color: #7f7f7f;
  word-spacing: 120px;
}
